body{
    overflow-x: hidden;
}

.login-message-container{
    position: fixed;
    top: 50%;
    right: 0%;
    width: 25%;
    display: block;
    align-items: center;
}

@media (max-width : 576px){
    .login-message-container{
        position: fixed;
        top: 20px;
        width: 90%;
        left: 0px;
        right: 0px;
        margin: 0px 20px;
        display: block;
        align-items: center;
    }
}


.error-message-container{
    position: fixed;
    top: 50%;
    right: 0%;
    width: 25%;
    display: block;
    align-items: center;
}

@media (max-width : 576px){
    .error-message-container{
        position: fixed;
        top: 20px;
        width: 90%;
        left: 0px;
        right: 0px;
        margin: 0px 20px;
        display: block;
        align-items: center;
    }
}



.is-profile-finished-container{
    position: fixed;
    top: 50%;
    right: 0%;
    width: 25%;
    display: block;
    align-items: center;
}

@media (max-width : 576px){
    .is-profile-finished-container{
        display: none;
    }
}


.create-jobs-input-container{
    left: 25%;
}


@media (max-width : 576px){
    .create-jobs-input-container{
        left: 20vw;
    }
}


.job-holder-container{
    top: 5vh;
    left: 20vh;
    width: 70vw;
}

.applicants-container {
    overflow-x: hidden;
}

@media (max-width : 576px){
    .job-holder-container{
        position: fixed;  
        width: 100vw;      
        top: 0;
        left: 0;
        margin-top: 15vw;
    }
}
.delete-container {
    top: 40vh;
    left: 40vw;
}

@media (max-width : 576px){
    .delete-container{
        top: 40vh;
        left: 15vw;
        width: 70vw;
    }
}


.job-container{
    z-index: 1055;
    left: 30vw;
    top: 30vh;
}
@media (max-width : 576px){
    .job-container{
        top: 20vh;
        left: 5vw;
        width: 90vw;
        height: 50vh;
    }

}
@media (max-width : 800px){
    .job-container{
        top: 20vh;
        left: 5vw;
        width: 90vw;
        height:40vh;
    }

}
@media (max-width : 991px){
    .my-user-sidebar-container{
        display: flex; 
        justify-content: center;
    }

    .my-user-data{

        margin: 2vh auto;
    }

}


.upload-avatar-container{
    left: 25vw;
}

@media (max-width : 991px){
    .upload-avatar-container{
        top: 20vh;
        height: auto;
    }
}

@media (max-width : 576px){
    .upload-avatar-container{
        top: 15vh;
        left: 2vw;
        width: 95vw;
        height: auto;
    }
}


.upload-desc-container{
    left: 25vw;
    top: 5vh;
}


@media (max-width : 991px){
    .upload-desc-container{
        top: 5vh;
        height: auto;
    }
}

@media (max-width : 576px){
    .upload-desc-container{
        top: 5vh;
        left: 2vw;
        width: 95vw;
        height: auto;
    }
}


.upload-role-container{
    margin: 0px auto;
    width: 45vh;
    top: 25vh;
    left: 50vh;
}


@media  (max-width : 800px){
    
    .upload-role-container {
        left: 2vw;
        width: 95vw;
    }
}


@media  (max-width : 576px){
    
    .upload-role-container {
        width: 95vw;
    }
}


.upload-technologies-container{
    margin: 0px auto;
    width: 45vh;
    top: 25vh;
    left: 50vh;
}

@media  (max-width : 800px){
    
    .upload-technologies-container {
        left: 2vw;
        width: 95vw;
    }
}


@media  (max-width : 576px){
    
    .upload-technologies-container {
        width: 95vw;
    }
}

.upload-tags-container {
    margin: 0px auto;
    width: 45vh;
    top: 25vh;
    left: 50vh;
}

@media  (max-width : 800px){
    
    .upload-tags-container {
        left: 2vw;
        width: 95vw;
    }
}


@media  (max-width : 576px){
    
    .upload-tags-container {
        width: 95vw;
    }
}