body{
    overflow-x: hidden;
} /*body hiddes overflow on sides*/

.login-message-container{
    position: fixed;
    top: 50%;
    right: 0%;
    width: 25%;
    display: block;
    align-items: center;
} /*positions and resizes component for large devices*/

.sign-message-container{
    position: fixed;
    top: 50%;
    right: 0%;
    width: 25%;
    display: block;
    align-items: center;
} /*positions and resizes component for large devices*/

.error-message-container{
    position: fixed;
    top: 50%;
    right: 0%;
    width: 25%;
    display: block;
    align-items: center;
} /*positions and resizes component for large devices*/

.desc-message-container{
    position: fixed;
    top: 50%;
    right: 0%;
    width: 25%;
    display: block;
    align-items: center;
} /*positions and resizes component for large devices*/

.is-profile-finished-container{
    position: fixed;
    top: 50%;
    right: 0%;
    width: 25%;
    display: block;
    align-items: center;
} /*positions and resizes component for large devices*/

.create-jobs-input-container{
    left: 25%;
    width: 50vw;
} /*positions and resizes component for large devices*/

.new-jobs-message-container {
    width: 50vw;
    left: 25%;
    top: 5vh;
} /*positions and resizes component for large devices*/

.job-holder-container{
    top: 5vh;
    left: 20vh;
    width: 70vw;
} /*positions and resizes component for large devices*/

.applicants-container {
    overflow-x: hidden;
} /*positions and resizes component for large devices*/

.delete-container {
    top: 40vh;
    left: 40vw;
} /*positions and resizes component for large devices*/

.job-container{
    z-index: 1055;
    left: 30vw;
    top: 30vh;
} /*positions and resizes component for large devices*/

.upload-avatar-container{
    left: 25vw;
} /*positions component for large devices*/

.upload-desc-container{
    left: 25vw;
    top: 5vh;
} /*resizes component for large devices*/

.upload-role-container{
    margin: 0px auto;
    width: 45vh;
    top: 25vh;
    left: 50vh;
} /*positions and resizes component for large devices*/

.upload-technologies-container{
    margin: 0px auto;
    width: 45vh;
    top: 25vh;
    left: 50vh;
} /*positions and resizes component for large devices*/

.upload-tags-container {
    margin: 0px auto;
    width: 45vh;
    top: 25vh;
    left: 50vh;
} /*positions and resizes component for large devices*/


@media (max-width : 576px){

    .login-message-container{
        position: fixed;
        top: 20px;
        width: 90%;
        left: 0px;
        right: 0px;
        margin: 0px 20px;
        display: block;
        align-items: center;
    }

    .sign-message-container{
        position: fixed;
        top: 20px;
        width: 90%;
        left: 0px;
        right: 0px;
        margin: 0px 20px;
        display: block;
        align-items: center;
    }

    .error-message-container{
        position: fixed;
        top: 20px;
        width: 90%;
        left: 0px;
        right: 0px;
        margin: 0px 20px;
        display: block;
        align-items: center;
    }

    .desc-message-container{
        position: fixed;
        top: 0px;
        width: 90%;
        left: 0px;
        right: 0px;
        margin: 0px 20px;
        display: block;
        align-items: center;
    }

    .is-profile-finished-container{
        display: none;
    }

    .new-jobs-message-container{
        left: 2vw;
        width: 95vw;
    }

    .create-jobs-input-container{
        left: 2vw;
        width: 95vw;
    }

    .job-holder-container{
        position: fixed;
        width: 100vw;
        top: 0;
        left: 0;
        margin-top: 15vw;
    }

    .delete-container{
        top: 40vh;
        left: 15vw;
        width: 70vw;
    }

    .job-container{
        top: 20vh;
        left: 5vw;
        width: 90vw;
        height: 50vh;
    }

    .upload-avatar-container{
        top: 15vh;
        left: 2vw;
        width: 95vw;
        height: auto;
    }

    .upload-desc-container{
        top: 5vh;
        left: 2vw;
        width: 95vw;
        height: auto;
    }

    .upload-role-container{
        width: 95vw;
    }

    .upload-technologies-container{
        width: 95vw;
    }

    .upload-tags-container{
        width: 95vw;
    }
}



@media (max-width : 800px){
    .job-container{
        top: 20vh;
        left: 5vw;
        width: 90vw;
        height:40vh;
    }

    .upload-role-container {
        left: 2vw;
        width: 95vw;
    }

    .upload-technologies-container {
        left: 2vw;
        width: 95vw;
    }

    .upload-tags-container {
        left: 2vw;
        width: 95vw;
    }
} /*positions and resizes component for tablet devices*/

@media (max-width : 991px){
    .my-user-sidebar-container{
        display: flex;
        justify-content: center;
    }

    .my-user-data{
        margin: 2vh auto;
    }
} /*positions and resizes component for larger tablet devices*/

@media (max-width : 991px){
    .upload-avatar-container{
        top: 20vh;
        height: auto;
    }
} /*positions and resizes component for large tablet devices*/

@media (max-width : 991px){
    .upload-desc-container{
        top: 5vh;
        height: auto;
    }
} /*positions and resizes component for larger tablet devices*/
